@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
     font-family: 'YekanBalkhHeavy';
     src: local('YekanBalkhHeavy'), url(./fmasire_file_font.ttf) format('ttf');
}

@layer base {
     html {
          font-family: YekanBalkhHeavy;
     }
}


@layer utilities {
     .TopBar {
          @apply flex justify-between w-full h-16 items-center sticky z-50 px-5
     }
     .TopBarLogo {
          @apply text-blue-800 font-bold text-3xl
     }
     .topbarRight {
          @apply flex text-xl
     }
     .TopBarIcon {
          @apply flex mr-4 items-center text-2xl
     }
     .TopBarSpan {
          @apply w-4 h-4 absolute bottom-10 rounded-full flex items-center justify-center text-white ml-2 bg-red-700 text-base
     }
     .TopBarImage {
          @apply flex w-10 h-10 rounded-full items-center object-cover cursor-pointer
     }
}

@layer utilities {
     .SideBarMain{
          @apply flex flex-1 w-72 flex-col border rounded-lg h-screen bg-slate-100 sticky
     }
     .sideBar {
          @apply px-5 mt-2 font-bold  text-sm
     }
     .SdideBarList{
          @apply mt-2
     }
     .sideBarListItem {
          @apply flex items-center p-1 px-5 text-lg text-gray-500 rounded-lg hover:bg-gray-200 w-40 mx-2
     }
     .sideBarIcon{
          @apply px-2 text-blue-800
     }
}

@layer utilities{
     .featuer{
          @apply flex justify-between
     }
     .featuerItem{
          @apply flex-1 mx-5 p-10 border rounded-lg cursor-pointer shadow-md w-96
     }
     .featuerTitle{
          @apply text-xl font-medium
     }
     .featuerContainer{
          @apply flex items-center my-2
     }
     .featuerMoney{
          @apply text-2xl font-semibold
     }
     .featuerRate{
          @apply flex items-center ml-5
     }
     .featuerIcon{
          @apply text-green-500 text-lg ml-2
     }
     .negative{
          @apply text-red-600
     }
     .featuerSub{
          @apply text-gray-400
     }
}