@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
     font-family: 'YekanBalkhHeavy';
     src: local('YekanBalkhHeavy'), url(./fmasire_file_font.ttf) format('ttf');
}

@layer base {
     html {
          font-family: YekanBalkhHeavy;
     }
}


@layer utilities {
     .TopBar {
          @apply flex justify-between w-full h-16 items-center sticky z-50 px-5 
     }
     .TopBarLogo {
          @apply text-blue-800 font-bold text-3xl
     }
     .topbarRight {
          @apply flex text-xl
     }
     .TopBarIcon {
          @apply flex mr-4 items-center text-2xl
     }
     .TopBarSpan {
          @apply w-5 h-5 absolute bottom-10 rounded-full flex items-center justify-center text-white ml-3 bg-red-700 text-base
     }
     .TopBarImage {
          @apply flex w-10 h-10 rounded-full items-center object-cover cursor-pointer
     }
}


@layer utilities {
     .SideBarMain{
          @apply flex w-64 h-screen flex-col border rounded-lg bg-slate-100
     }
     .sideBar {
          @apply px-5 mt-2 font-bold  text-sm
     }
     .SdideBarList{
          @apply mt-2
     }
     .sideBarListItem {
          @apply flex items-center p-1 px-5 text-lg text-gray-500 rounded-lg hover:bg-gray-200 w-56 mx-2
     }
     .sideBarIcon{
          @apply px-2 text-blue-800
     }
}

@layer utilities{
     .featuer{
          @apply flex justify-between
     }
     .featuerItem{
          @apply flex-1 mx-5 p-7 border rounded-lg cursor-pointer shadow-md w-96
     }
     .featuerTitle{
          @apply text-xl font-medium
     }
     .featuerContainer{
          @apply flex items-center my-2
     }
     .featuerMoney{
          @apply text-2xl font-semibold
     }
     .featuerRate{
          @apply flex items-center ml-5
     }
     .featuerIcon{
          @apply text-green-500 text-lg ml-2
     }
     .negative{
          @apply text-red-600
     }
     .featuerSub{
          @apply text-gray-400
     }
}
@layer utilities{
     .chart{
          @apply m-5 p-3 border rounded-lg shadow-md
     }
     .chartTitle{
          @apply text-blue-800 font-semibold text-lg m-2
     }
}
@layer utilities{
     .homeWidgets{
          @apply flex m-5
     }
}
@layer utilities{
     .WidgetSm{
          @apply  w-1/3 p-4 shadow-md border rounded-md
     }
     .WidgetSmTitle{
          @apply text-lg font-semibold
     }
     .WidgetSmList{
          @apply m-0 p-0
     }
     .WidgetSmItem{
          @apply flex justify-between items-center m-5
     }
     .WidgetSmIMG{
          @apply w-10 rounded-full object-cover
     }
     .WidgetSmUser{
          @apply flex flex-col
     }
     .WidgetSmUserName{
          @apply font-semibold
     }
     .WidgetSmUserTitle{
          @apply text-sm text-gray-400
     }
     .WidgetSmButton{
          @apply flex items-center border p-1 rounded-md bg-slate-200 text-gray-700
     }
}
@layer utilities{
     .WidgetLg{
          @apply p-4 shadow-md border ml-5 rounded-md w-full
     }
     .WidgetLgTitle{
          @apply text-lg font-semibold
     }
     .WigetLgTable{
          @apply w-full ml-12
     }
     .WidgetLgTh{
          @apply py-5 text-left
     }
     .WidgetLgUser{
          @apply flex items-center py-2 
     }
     .WidgetLgImg{
          @apply w-10 rounded-full object-cover mr-2
     }
     .WidgetLgDate,.WidgetLgAmount{
          @apply text-sm text-gray-600
     }
     .WidgetLgButton{
          @apply border-none rounded-md w-20
     }
     .WidgetLgButton.Approved {
          @apply bg-green-200 text-green-900
     }
     .WidgetLgButton.Declined {
          @apply bg-red-200 text-red-900
     }
     .WidgetLgButton.Pending {
          @apply bg-blue-200 text-blue-900
     }
}